footer {
    background-color: brown;
    color: #fff;
    padding: 20px;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .contact-info,
  .opening-hours {
    flex: 1;
  }
  
  .contact-info h3,
  .opening-hours h3 {
    color: #fff;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .contact-info p,
  .opening-hours p {
    color: #fff;
    font-size: 14px;
    margin-bottom: 5px;
  }